{$DEMO_PUBLIC_HOST} {
	encode zstd gzip

	basic_auth {
		{$DEMO_BASIC_AUTH_USER} {$DEMO_BASIC_AUTH_HASH}
	}

	reverse_proxy 127.0.0.1:18082 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	log {
		output file /data/access.log {
			roll_size 20MiB
			roll_keep 10
			roll_keep_for 168h
		}
		format json
	}
}
